@font-face {
    font-family: 'Roboto-Regular';
    font-weight: 400;
    src: url('../../library/font/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Bold';
    font-weight: 700;
    src: url('../../library/font/Roboto-Bold.ttf');
}
.clear-fix {
    display: table;
    content: "";
}
img {
    max-width: 100%;
}
.blue {
    color: #60a5fa;
}

.black {
    color: #232323;
}

.black-light {
    color: #ddd;
}

.sec-course {
    padding: 55px 0 0;
}

.course-mv-blk {
    text-align: center;
    margin-bottom: 37px;
}

.course-header {
    font-family: 'Roboto-Bold';
    font-size: 40px;
    font-weight: 700;
}

.course-header span {
    color: #60a5fa;
}

.course-pargh {
    margin: 29px 0 20px;
    color: #23232399;
    font-size: 20px;
}

.search-group {
   
}

.search-select {
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 0%;
    border: 1px solid #ddd;
    outline: none;
}

.search-input {
    width: 600px;
    border: 1px solid #ddd;
    padding: 11px 12px 12px 26px;
    font-size: 16px;
    outline: none;
}
.language-list {
    margin: 20px auto;
    font-weight: 500;
    width: 63%;
}
.language-list li {
    display: inline-block;
    background-color: #dee1ec;
    color: #232323;
    padding: 11px 17px;
    border-radius: 10px;
    margin: 8px 5px 0 5px;
}
.language-list li.active {
    background-color: #60a5fa;
}
.language-list li.active a {
    color: #fff;
}
.course-card-container {
    padding: 22px 20px;
}
.course-card {
    width: 31%;
    float: left;
    margin-right: 33px;
    margin-bottom: 35px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding-bottom: 12px;
    border-radius: 5px;
    transition: 0.7s;
}
.course-card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.course-card:hover img {
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.35));
}
.course-card:nth-child(3n) {
    margin-right: 0;
}
.course-card-img {
    transition: 0.7s;
}
.course-txt-blk {
    padding-left: 11px;
    padding-top: 13px;
}
.course-card-ttl {
    font-weight: 500;
    font-size: 18px;
}
.course-card-type {
    font-weight: 400;
    margin: 15px 0 26px 0;
}
.course-card-type span {
    color: #fff;
    padding-left: 20px;
    font-weight: 500;
    background-color: #b51414;
    padding: 5px;
    border-radius: 10px;
    margin-left: 24px;
}
.course-card-fee {
    font-weight: 400;
    margin: 15px 0 26px 0;
}
.course-card-fee span {
    padding-left: 20px;
    font-weight: 500;
    background-color: #60a5fa;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    margin-left: 24px;
}
.course-card-fee.paid span{
    background-color: #60a5fa;
    color: #fff;
}
.course-card-type.paid span{
    background-color: #60a5fa;
    color: #fff;
}
.course-card-language li{
    display: inline-block;
    background-color: #60a5fa;
    color: #fff;
    padding: 11px 17px;
    border-radius: 10px;
    margin: 0 5px 0 0;
}


/* Ipad */
@media screen and (min-width: 768px) and (max-width: 1180px) {

    body {
      font-size: 2.083vw;
    }
  
    .l-container,
    .l-inner {
      width: 100%;
      max-width: 100%;
    }
    .sec-course {
        padding: 7.161vw 0 0;
    }
    
    .course-mv-blk {
        text-align: center;
        margin-bottom: 3.516vw;
    }
    
    .course-header {
        font-family: 'Roboto-Bold';
        font-size: 4.557vw;
        font-weight: 700;
    }
    
    .course-header span {
        color: #60a5fa;
    }
    
    .course-pargh {
        margin: 3.776vw 0 2.604vw;
        color: #23232399;
        font-size: 2.344vw;
        padding: 0 3.906vw;
        line-height: 1.3;
    }
    
    .search-group {
       
    }
    
    .search-select {
        padding: 1.302vw 2.083vw;
        font-size: 2.344vw;
        border-radius: 0%;
        border: 0.13vw solid #ddd;
    }
    
    .search-input {
        width: 62.5vw;
        border: 0.13vw solid #ddd;
        padding: 1.432vw 1.563vw 1.563vw 3.385vw;
        font-size: 2.083vw;
        outline: none;
    }
    .language-list {
        padding: 0 0.651vw;
        margin: 2.604vw auto;
        font-weight: 500;
        width: 87%;
    }
    .language-list li {
        display: inline-block;
        background-color: #dee1ec;
        color: #232323;
        padding: 1.432vw 2.214vw;
        border-radius: 1.302vw;
        margin: 1.042vw 0.651vw 0 0.651vw;
    }
    .language-list li.active {
        background-color: #60a5fa;
        color: #fff;
    }
    .course-card-container {
        padding: 2.865vw 1.953vw;
    }
    .course-card {
        width: 47%;
        float: left;
        margin-right: 3.906vw;
        margin-bottom: 4.557vw;
        box-shadow: rgba(0, 0, 0, 0.1) 0vw 0.521vw 1.563vw;
        padding-bottom: 1.563vw;
        border-radius: 0.651vw;

    }
    .course-card:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0vw 0.651vw 1.953vw;
    }
    .course-card:hover img {
        filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.35));
    }
    .course-card:nth-child(3n) {
        margin-right: 3.906vw;
    }
    .course-card:nth-child(2n) {
        margin-right: 0;
    }
    .course-card-img {
        transition: 0.7s;
    }
    .course-txt-blk {
        padding-left: 1.432vw;
        padding-top: 1.693vw;
    }
    .course-card-ttl {
        font-weight: 500;
        font-size: 2.344vw;
    }
    .course-card-type {
        font-weight: 400;
        margin: 1.953vw 0 3.385vw;
    }
    .course-card-type span {
        color: #fff;
    }
    .course-card-fee {
        font-weight: 400;
        margin: 1.953vw 0 3.385vw 0;
    }
    .course-card-fee span {
        color: #fff;
        padding-left: 2.604vw;
        font-weight: 500;
        background-color: #60a5fa;
        padding: 0.651vw;
        border-radius: 1.302vw;
        margin-left: 3.125vw;
    }
    .course-card-type.paid span{
        background-color: #60a5fa;
        color: #fff;
    }
    .course-card-language li{
        display: inline-block;
        background-color: #60a5fa;
        color: #fff;
        padding: 1.432vw 2.214vw;
        border-radius: 1.302vw;
        margin: 0 0.651vw 0 0;
    }
    
    
   
  
  
}
  
  /*  SP  */
@media screen and (max-width:767.9px) {
  
    body {
      font-size: 2.813vw;
    }
  
    .pc {
      display: none;
    }
  
    .sp {
      display: block;
    }
  
    .l-container,
    .l-inner {
      width: 100%;
      padding: 0 4.688vw;
      max-width: 100%;
    }

    .sec-course {
        padding: 8.594vw 0 0;
    }
    
    .course-mv-blk {
        text-align: center;
        margin-bottom: 4.219vw;
    }
    
    .course-header {
        font-family: 'Roboto-Bold';
        font-size: 4.375vw;
        font-weight: 700;
    }
    
    .course-header span {
        color: #60a5fa;
    }
    
    .course-pargh {
        margin: 4.531vw 0 3.125vw;
        color: #23232399;
        font-size: 2.5vw;
        padding: 0 2.344vw;
    }
    
    .search-group {
       
    }
    
    .search-select {
        padding: 1.563vw 2.5vw;
        font-size: 2.813vw;
        border-radius: 0%;
        border: 0.156vw solid #ddd;
    }
    
    .search-input {
        width: 65.625vw;
        border: 0.156vw solid #ddd;
        padding: 1.719vw 1.875vw 1.875vw 4.063vw;
        font-size: 2.344vw;
        outline: none;
    }
    .language-list {
        padding: 0 0.781vw;
        margin: 3.125vw auto;
        font-weight: 500;
        width: 87%;
    }
    .language-list li {
        display: inline-block;
        background-color: #dee1ec;
        color: #232323;
        padding: 1.719vw 2.656vw;
        border-radius: 1.563vw;
        margin: 1.25vw 0.781vw 0 0.781vw;
        font-size: 2.188vw;
    }
    .language-list li.active {
        background-color: #60a5fa;
        color: #fff;
    }
    .course-card-container {
        padding: 1.875vw 3.125vw 3.438vw;
    }
    .course-card {
        width: 100%;
        float: none;
        margin-right: 0;
        margin-bottom: 4.375vw;
        box-shadow: rgba(0, 0, 0, 0.1) 0vw 0.625vw 1.875vw;
        padding-bottom: 1.875vw;
        border-radius: 0.781vw;

    }
    .course-card:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0vw 0.781vw 2.344vw;
    }
    .course-card:hover img {
        filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.35));
    }
    .course-card:nth-child(3n) {
        margin-right: 4.688vw;
    }
    .course-card:nth-child(2n) {
        margin-right: 0;
    }
    .course-card-img {
        width: 100%;
        transition: 0.7s;
    }
    .course-txt-blk {
        padding-left: 1.719vw;
        padding-top: 2.031vw;
    }
    .course-card-ttl {
        font-weight: 500;
        font-size: 2.5vw;
    }
    .course-card-type {
        font-weight: 400;
        margin: 2.813vw 0 4.063vw;
        font-size: 2.344vw;
    }
    .course-card-type span {
        color: #fff;
        font-size: 2.344vw;
    }

    .course-card-type.paid span{
        background-color: #60a5fa;
        color: #fff;
    }

    .course-card-fee {
        font-weight: 400;
        margin: 2.344vw 0 4.063vw 0;
        font-size: 2.344vw;
    }
    .course-card-fee span {
        color: #fff;
        padding-left: 3.125vw;
        font-weight: 500;
        background-color: #60a5fa;
        padding: 0.781vw;
        border-radius: 1.563vw;
        margin-left: 3.75vw;
        font-size: 2.344vw;
    }

    .course-card-language li{
        display: inline-block;
        background-color: #60a5fa;
        color: #fff;
        padding: 1.719vw 2.656vw;
        border-radius: 1.563vw;
        margin: 0 0.781vw 0 0;
        font-size: 2.188vw;
    }
}