@font-face {
    font-family: "Roboto-Regular";
    font-weight: 400;
    src: url("../../library/font/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto-Bold";
    font-weight: 700;
    src: url("../../library/font/Roboto-Bold.ttf");
}
.clear-fix {
    display: table;
    content: "";
}
img {
    max-width: 100%;
}
.blue {
    color: #60a5fa;
}

.black {
    color: #232323;
}
.pc {
    display: block;
}
.sp {
    display: none;
}

.black-light {
    color: #ddd;
}
.pagination {
    width: 100%;
}
.sec-course {
    padding: 55px 0 0;
}

.course-mv-blk {
    text-align: center;
    margin-bottom: 37px;
}

.course-header {
    font-family: "Roboto-Bold";
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 44px;
}

.course-header span {
    color: #60a5fa;
}

.course-pargh {
    margin: 29px 0 20px;
    color: #23232399;
    font-size: 20px;
}

.search-group {
}

.search-select {
    padding: 10px 50px 10px 6px;
    font-size: 18px;
    border-radius: 0%;
    border: 1px solid transparent;
    border-right: 1px solid #ddd;
    outline: none;
    /*border-right: none;*/
   background-color: rgb(243 244 246 );
}
/*.search-select:focus {
    background-color: #60a5fa;
    color: #fff;
}*/
.search-input {
    width: 600px;
    padding: 11px 12px 12px 49px;
    font-size: 16px;
    border: 1px solid transparent;
    border-left: 1px solid #23232368;
    outline: none;
    /*border-right: none;*/
   background-color: rgb(243 244 246 );
}
.search-input-group {
   display: inline-block;
   position: relative;
   margin-left: -5px;
}
.search-icon {
    position: absolute;
    top: -7px;
    height: 60px;
    width: 86px;
    line-height: 61px;
    text-align: center;
    left: -13px;
    color: #232323;

}
input[type='file'] {
    margin: 0;
    padding: 2rem 1.5rem;
    font: 1rem/1.5 "PT Sans", Arial, sans-serif;
    color: #5a5a5a;
}
.language-list {
    text-align: left;
    margin: 2px auto 54px;
    font-weight: 500;
    width: 63%;
}
.language-list li:hover {
    opacity: 0.7;
}
.language-list li:nth-child(8n) {
    text-align: center;
}
.language-list li {
    display: inline-block;
   background-color: rgb(244 244 244 );
    color: #232323;
    padding: 11px 17px;
    border-radius: 5px;
    margin: 8px 5px 0 5px;
    transition: 0.1s;
}
.language-list li:active {
    opacity: 0.5;
}
.language-list li.active {
    background-color: #60a5fa;
}
.language-list li.active a {
    color: #fff;
}
.course-card-container,
.search-card-container {
    width: 100%;
}
.course-card {
    width: 31%;
    float: left;
    margin-right: 33px;
    margin-bottom: 35px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding-bottom: 12px;
    border-radius: 5px;
    transition: 0.7s;
}
.course-card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.course-card:hover img {
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.35));
}
.course-card:nth-child(3n) {
    margin-right: 0;
}
.course-card-img {
    transition: 0.7s;
    height: 200px;
}
.course-txt-blk {
    padding-left: 11px;
    padding-top: 13px;
}
.course-card-ttl {
    font-weight: 500;
    font-size: 18px;
}
.course-card-type {
    font-weight: 400;
    margin: 15px 0 26px 0;
}
.course-card-type span {
    color: #fff;
    padding-left: 20px;
    font-weight: 500;
    background-color: #b51414;
    padding: 5px;
    border-radius: 10px;
    margin-left: 24px;
}
.course-card-fee {
    font-weight: 400;
    margin: 15px 0 26px 0;
}
.course-card-fee span {
    padding-left: 20px;
    font-weight: 500;
    background-color: #60a5fa;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    margin-left: 24px;
}
.course-card-fee.paid span {
    background-color: #60a5fa;
    color: #fff;
}
.course-card-type.paid span {
    background-color: #60a5fa;
    color: #fff;
}
.course-card-language li {
    display: inline-block;
    background-color: #60a5fa;
    color: #fff;
    padding: 11px 17px;
    border-radius: 10px;
    margin: 0 5px 0 0;
}

/* Ipad */
@media screen and (min-width: 768px) and (max-width: 1180px) {
    body {
        font-size: 2.083vw;
    }
    .pc {
        display: none;
    }
    .sp {
        display: block;
    }
    .l-container,
    .l-inner {
        width: 100%;
        max-width: 100%;
    }
    .sec-course {
        padding: 7.161vw 0 0;
    }

    .course-mv-blk {
        text-align: center;
        margin-bottom: 3.516vw;
    }

    .course-header {
        font-family: "Roboto-Bold";
        font-size: 4.557vw;
        font-weight: 700;
        margin-bottom: 44px;
    }

    .course-header span {
        color: #60a5fa;
    }

    .course-pargh {
        margin: 3.776vw 0 2.104vw;
        color: #23232399;
        font-size: 2.344vw;
        padding: 0 3.906vw;
        line-height: 1.3;
    }

    .search-select {
        padding: 10px 50px 10px 6px;
        font-size: 2.344vw;
        border-radius: 0%;
        border: 1px solid transparent;
    }

    .search-input {
        width: 62.5vw;
        border-left: 1px solid #23232368;
        padding: 1.432vw 1.563vw 1.563vw 6.385vw;
        font-size: 2.083vw;
        outline: none;
    }
    .search-icon {
        position: absolute;
        top: -7px;
        height: 60px;
        width: 86px;
        line-height: 61px;
        text-align: center;
        left: -13px;
        color: #232323;
    }
    .language-list {
        text-align: left;
        padding: 0 3.651vw;
        margin: 2px auto 40px;
        font-weight: 500;
        width: 87%;
    }
    .language-list li {
        display: inline-block;
        background-color: #dee1ec;
        color: #232323;
        padding: 1.432vw 2.214vw;
        border-radius: 0.602vw;
        margin: 1.042vw 0.651vw 0 0.651vw;
    }
    .language-list li.active {
        background-color: #60a5fa;
        color: #fff;
    }
    .search-card-container {
        padding: 0 3.153vw 0 4.953vw;
        width: 100%;
    }
    .card-container {
        padding: 2.865vw 3.153vw 0 4.953vw;
    }
    .card-container .card-list {
        margin-right: 4.901vw;
        margin-bottom: 4.21vw;
    }
    .card-container .card-list:nth-child(3n){
        margin-right: 4.901vw ;
    }
    .card-container .card-list:nth-child(2n){
        margin-right: 0;
    }
    .card-container .card-list:last-child{
        margin-right: 0 !important;
    }
}

/*  SP  */
@media screen and (max-width: 767.9px) {
    body {
        font-size: 2.813vw;
    }

    .pc {
        display: none;
    }

    .sp {
        display: block;
    }

    .l-container,
    .l-inner {
        width: 100%;
        padding: 0 4.688vw;
        max-width: 100%;
    }

    .sec-course {
        padding: 8.594vw 0 0;
    }

    .course-mv-blk {
        text-align: center;
        margin-bottom: 4.219vw;
    }

    .course-header {
        font-family: "Roboto-Bold";
        font-size: 4.375vw;
        font-weight: 700;
        margin-bottom: 6.875vw;
    }

    .course-header span {
        color: #60a5fa;
    }

    .course-pargh {
        margin: 4.531vw 0 3.125vw;
        color: #23232399;
        font-size: 2.5vw;
        padding: 0 2.344vw;
    }

    .search-select {
        padding: 1.563vw 7.813vw 1.563vw 0.938vw;
        font-size: 2.813vw;
        border-radius: 0%;
        border: 0.156vw solid transparent;
    }

    .search-input {
        width: 57.625vw;
        border-left: 0.156vw solid #23232368;
        padding: 1.719vw 1.875vw 1.875vw 5.363vw;
        font-size: 2.344vw;
        outline: none;
    }
    .search-icon {
        position: absolute;
        top: -1.094vw;
        height: 9.375vw;
        width: 10.781vw;
        line-height: 9.531vw;
        text-align: center;
        left: -2.031vw;
        color: #232323;
    
    }
    .search-icon i {
        font-size: 2.5vw;
    }
    .language-list {
        text-align: left;
        padding: 0 0.781vw;
        margin: 0.313vw auto 8.438vw;
        font-weight: 500;
        width: 87%;
    }
    .language-list li {
        display: inline-block;
        background-color: #dee1ec;
        color: #232323;
        padding: 1.719vw 2.656vw;
        border-radius: 0.463vw;
        margin: 1.05vw 0.781vw 0 0.781vw;
        font-size: 2.188vw;
    }
    .language-list li.active {
        background-color: #60a5fa;
        color: #fff;
    }
    .search-card-container {
        padding: 0 3.153vw 0 4.953vw;
        width: 100%;
    }
    .card-container .card-list {
        float: none;
        width: 100%;
        margin-right: 8.281vw;
        margin-bottom: 5.813vw;
    }
}
