.course-details-sec {
    padding: 80px 0 50px;
    /* background-image: linear-gradient(
        to right bottom,
        rgb(219, 229, 239, 0.5),
        rgb(255, 255, 255, 0.5)
    ); */
    background-color: #f8f8f8;
}

.course-details-ttl {
    font-size: 35px;
    font-weight: 600;
    color: #00154a;
    margin-bottom: 50px;
    margin-left: 20px;
}

.alert-error {
    background: #ffdb9b;
    padding: 20px 40px;
    min-width: 420px;
    position: absolute;
    right: 0px;
    top: 10%;
    border-radius: 4px;
    border-left: 8px solid #ffa502;
    animation: show_slide 1s ease forwards;
}

.alert-error .fa-circle-exclamation {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #ce8500;
    font-size: 30px;
}

.alert-error .msg {
    padding: 0 20px;
    font-size: 18px;
    color: #ce8500;
}

.alert-error .close-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #ffd080;
    padding: 8px 18px;
    cursor: pointer;
}

.alert-error .close-btn:hover {
    background: #ffc766;
}

.alert-error .close-btn .fa-xmark {
    color: #ce8500;
    font-size: 22px;
    line-height: 40px;
}

.alert-error.hide {
    animation: hide_slide 1s ease forwards;
}

@keyframes show_slide {
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-10%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-10px);
    }
}

@keyframes hide_slide {
    0% {
        transform: translateX(-10px);
    }
    40% {
        transform: translateX(0%);
    }
    80% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(100%);
    }
}

.course-details-blk .outline-blk {
    float: right;
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.1) 0px 4px 6px -2px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #ddd;
    background-color: #ffffff;
}

.course-details-blk .outline-blk .outline-ttl {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

.course-details-blk .outline-blk .outline-ttl a {
    color: #00154a;
}

.course-details-blk .outline-blk .fa-clapperboard {
    color: #00154a;
    font-size: 18px;
    margin-right: 10px;
}

.course-details-blk .outline-blk .outline-lists {
    padding: 0 20px;
    text-align: center;
}

.course-details-blk .outline-blk .outline-lists li {
    background-color: #60a5fa;
    margin: 15px 0;
    padding: 13px 0;
}

.course-details-blk .outline-blk .outline-lists li a {
    color: #ffffff;
}

.course-details-blk .outline-blk .outline-lists li .fa-lock {
    color: #232323;
}

.course-details-blk .outline-blk .outline-lists li i {
    margin-right: 10px;
}

.course-details-blk .vd-img-blk {
    float: left;
    width: 65%;
}

.course-details-blk .vd-img-blk iframe {
    width: 100%;
    height: 416px;
}

.course-details-sec img {
    width: 100%;
}

.course-details-blk .vd-img-blk .main-img {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
        rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: #ffffff;
}

.course-details-sec .latest-course-blk img {
    height: 200px;
}

.course-details-blk .vd-img-blk .description {
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.1) 0px 4px 6px -2px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #ddd;
    background-color: #ffffff;
}

.course-details-blk .vd-img-blk .description .price-type-blk {
    margin-bottom: 20px;
}

.course-details-blk .vd-img-blk .description .description-ttl {
    font-size: 28px;
    font-weight: 600;
    color: #00154a;
}

.course-details-blk .vd-img-blk .description p {
    font-size: 16px;
    color: #00154a;
    line-height: 1.8;
    margin-bottom: 15px;
    margin-top: 5px;
}

.course-details-blk .vd-img-blk .description .type,
.course-details-blk .vd-img-blk .description .price {
    font-weight: 600;
    color: #232323;
    margin-right: 10px;
}

.course-details-sec .badge,
.course-details-sec .badge {
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #474a8a;
    font-size: 12px;
    color: #fff;
}

.course-details-blk .vd-img-blk .description .enroll-btn.btn-primary {
    background-color: #60a5fa;
}

.course-details-blk .vd-img-blk .description .enroll-btn.btn-primary:hover {
    background-color: transparent;
    color: #60a5fa;
    border: 1px solid #60a5fa;
}

.course-details-blk .vd-img-blk .review {
    margin-top: 50px;
}

.course-details-blk .vd-img-blk .review textarea {
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    outline: none;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
}

.course-details-blk .vd-img-blk .review .review-btn {
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

.course-details-blk .vd-img-blk .review .review-btn .btn {
    font-size: 16px;
    padding: 10px 16px 10px 16px;
}

.course-details-blk .vd-img-blk .review-box {
    margin-top: 20px;
}

.course-details-blk .vd-img-blk .review-box .box {
    margin-top: 40px;
}

.course-details-blk .vd-img-blk .review-box .review-lists {
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.1) 0px 4px 6px -2px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #ffffff;
}

.course-details-blk .vd-img-blk .review-box h3 {
    font-size: 25px;
    letter-spacing: 1px;
}

.course-details-blk .vd-img-blk .review-box .review-lists .review-profile {
    float: left;
    width: 20%;
    padding-left: 25px;
}

.course-details-blk .vd-img-blk .review-box .review-lists .review-profile img {
    width: 100%;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid #ddd;
}

.course-details-blk .vd-img-blk .review-box .review-lists .review-info {
    float: right;
    width: 72%;
    margin-top: 30px;
}

.course-details-blk .vd-img-blk .review-box .review-lists .review-info .name {
    font-size: 22px;
    font-weight: 700;
    color: #232323;
}

.course-details-blk
    .vd-img-blk
    .review-box
    .review-lists
    .review-info
    .review-content {
    font-size: 14px;
    font-weight: 500;
    color: #232323;
    line-height: 1.8;
    letter-spacing: 1px;
}

.course-details-sec .latest-course-blk {
    padding: 50px 0 0;
}

.course-details-sec .latest-course-ttl {
    font-size: 25px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: 500;
}

/* Course Card */
.card .card-img {
    position: relative;
}

.card .card-img img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: #2e2e22;
    background-blend-mode: color-burn;
    filter: blur(0.5px) brightness(95%);
}

.card .card-img .type {
    position: absolute;
    top: 10%;
    left: 0;
    padding: 10px 25px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}

.card .card-list {
    float: left;
    width: 30.33%;
    margin-right: 53px;
    box-shadow: rgb(0 0 0 / 25%) 0px 0.0625em 0.0625em,
        rgb(0 0 0 / 25%) 0px 0.125em 0.5em,
        rgb(255 255 255 / 10%) 0px 0px 0px 1px inset;
    border-radius: 10px;
    border: 3px solid #ddd;
    transition: all 0.5s;
}

.card .card-list:hover {
    border-bottom: 3px solid #60a5fa;
    transform: translateY(-10px);
    border-radius: 10px;
}

.card .card-list:hover .card-img img {
    filter: blur(0px) brightness(110%);
}

.card .card-list:nth-child(3n) {
    margin-right: 0;
}

.card .card-body {
    padding: 30px 20px;
    font-size: 14px;
    position: relative;
    background-color: #ffffff;
}

.card .card-body .name {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}

.card .card-body .create-time,
.card .card-body .course-video {
    font-size: 12px;
    font-weight: 500;
    color: #777;
}

.card .card-body .fa-calendar-day {
    margin-right: 5px;
    color: #0092ef;
}

.card .card-body .fa-video {
    color: #0092ef;
    margin-right: 5px;
}

.card .card-body .course-video {
    margin-top: 13px;
}

.card .card-body .course-video span {
    padding: 5px 9px;
    background-color: rgb(0, 146, 239);
    border-radius: 50%;
    color: #ffffff;
}

.card .card-body .about-course {
    font-size: 14px;
    font-weight: 500;
    color: #777;
    line-height: 1.4;
    width: 300px;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card .card-body .language {
    margin-top: 15px;
}

.card .card-body .language .badge {
    padding: 8px;
    font-size: 12px;
    margin-right: 5px;
    background-color: rgb(134, 182, 228);
    border-radius: 20px;
    color: #ffffff;
    font-weight: 600;
}

.card .card-body .price {
    position: absolute;
    right: 3%;
    bottom: 83%;
    padding: 37px 15px;
    background-image: linear-gradient(
        to right bottom,
        rgb(223, 249, 251, 0.8),
        rgb(134, 182, 228)
    );
    border-radius: 50%;
    color: #fdfdfd;
    font-weight: 700;
    filter: blur(0px) brightness(95%);
}

.card .card-body .price-zero {
    position: absolute;
    right: 3%;
    bottom: 83%;
    padding: 37px 30px;
    background-image: linear-gradient(
        to right bottom,
        rgb(223, 249, 251, 0.9),
        rgb(134, 182, 228)
    );
    border-radius: 50%;
    color: #fdfdfd;
    font-weight: 700;
    filter: blur(0px) brightness(95%);
}
/* Course Card End */

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1180px) {
    .course-details-sec {
        padding: 10.417vw 6.51vw 6.51vw;
    }

    .course-details-ttl {
        font-size: 4.557vw;
        margin-bottom: 6.51vw;
    }

    .course-details-blk .outline-blk {
        float: none;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.16) 0vw 0.13vw 0.521vw;
        padding: 2.604vw;
        border-radius: 1.302vw;
        margin-bottom: 2.604vw;
    }

    .course-details-blk .outline-blk .outline-ttl {
        font-size: 3.125vw;
    }

    .course-details-blk .outline-blk .outline-lists {
        padding: 0 2.604vw;
    }

    .course-details-blk .outline-blk .outline-lists li {
        margin: 1.953vw 0;
        padding: 1.693vw 0;
    }

    .course-details-blk .outline-blk .outline-lists li a {
        font-size: 2.344vw;
    }

    .course-details-blk .outline-blk .outline-lists li i {
        margin-right: 1.302vw;
    }

    .course-details-blk .vd-img-blk {
        float: none;
        width: 100%;
    }

    .course-details-blk .vd-img-blk iframe {
        width: 100%;
        height: 54.167vw;
    }

    .course-details-sec img {
        width: 100%;
    }

    .course-details-sec .latest-course-blk img {
        height: 26.042vw;
    }

    .course-details-blk .vd-img-blk .description {
        margin-top: 6.51vw;
    }

    .course-details-blk .vd-img-blk .description .description-ttl {
        font-size: 3.255vw;
    }

    .course-details-blk .vd-img-blk .description .price-type-blk {
        margin-bottom: 2.604vw;
    }

    .course-details-blk .vd-img-blk .description p {
        font-size: 2.083vw;
        line-height: 1.4;
        margin-bottom: 1.302vw;
    }

    .course-details-blk .vd-img-blk .description .type,
    .course-details-blk .vd-img-blk .description .price {
        margin-right: 1.302vw;
        font-size: 2.474vw;
    }

    .course-details-sec .badge,
    .course-details-sec .badge {
        padding: 1.042vw;
        border-radius: 1.302vw;
        font-size: 1.563vw;
    }

    .course-details-blk .vd-img-blk .description .enroll-btn {
        font-size: 2.083vw;
    }

    .course-details-blk .vd-img-blk .review {
        margin-top: 3.906vw;
    }

    .course-details-blk .vd-img-blk .review textarea {
        width: 100%;
        border-radius: 1.302vw;
        padding: 2.604vw;
        letter-spacing: 0.13vw;
    }

    .course-details-blk .vd-img-blk .review .review-btn {
        margin-top: 2.604vw;
    }

    .course-details-blk .vd-img-blk .review .review-btn .btn {
        font-size: 2.083vw;
        padding: 1.302vw 2.083vw 1.302vw 2.083vw;
    }

    .course-details-blk .vd-img-blk .review-box {
        margin-top: 6.51vw;
    }

    .course-details-blk .vd-img-blk .review-box .box {
        margin-top: 5.208vw;
    }

    .course-details-blk .vd-img-blk .review-box .review-lists {
        margin-top: 2.604vw;
    }

    .course-details-blk .vd-img-blk .review-box h3 {
        font-size: 3.255vw;
        letter-spacing: 0.13vw;
    }

    .course-details-blk .vd-img-blk .review-box .review-lists .review-profile {
        float: left;
        width: 20%;
        padding-left: 3.255vw;
    }

    .course-details-blk
        .vd-img-blk
        .review-box
        .review-lists
        .review-profile
        img {
        width: 100%;
    }

    .course-details-blk .vd-img-blk .review-box .review-lists .review-info {
        float: right;
        width: 72%;
        margin-top: 2.734vw;
    }

    .course-details-blk
        .vd-img-blk
        .review-box
        .review-lists
        .review-info
        .name {
        font-size: 2.214vw;
    }

    .course-details-blk
        .vd-img-blk
        .review-box
        .review-lists
        .review-info
        .review-content {
        font-size: 1.823vw;
    }

    .course-details-sec .latest-course-blk {
        padding: 6.51vw 0 0;
    }

    .course-details-sec .latest-course-ttl {
        font-size: 3.255vw;
        margin-bottom: 2.604vw;
        letter-spacing: 0.13vw;
    }

    /* Course Card */
    .card .card-img .type {
        top: 10%;
        left: 0;
        padding: 1.302vw 3.255vw;
        font-size: 1.823vw;
    }

    .card .card-list {
        float: left;
        width: 46%;
        margin-right: 6.901vw;
        margin-bottom: 6.51vw;
    }

    .card .card-list:nth-child(2n) {
        margin-right: 0;
    }

    .card .card-body {
        padding: 3.906vw 2.604vw;
        font-size: 1.823vw;
    }

    .card .card-body .name {
        font-size: 2.344vw;
        margin-bottom: 2.604vw;
    }

    .card .card-body .create-time,
    .card .card-body .course-video {
        font-size: 1.563vw;
    }

    .card .card-body .fa-calendar-day {
        margin-right: 0.651vw;
    }

    .card .card-body .fa-video {
        margin-right: 0.651vw;
    }

    .card .card-body .course-video {
        margin-top: 1.693vw;
    }

    .card .card-body .course-video span {
        padding: 0.26vw 0.781vw;
    }

    .card .card-body .about-course {
        font-size: 1.823vw;
        width: 33.854vw;
    }

    .card .card-body .language {
        margin-top: 1.953vw;
    }

    .card .card-body .language .badge {
        padding: 1.042vw;
        font-size: 1.563vw;
        margin-right: 0.651vw;
    }

    .card .card-body .price {
        right: 3%;
        bottom: 83%;
        padding: 4.818vw 1.953vw;
        font-weight: 700;
    }

    .card .card-body .price-zero {
        right: 3%;
        bottom: 83%;
        padding: 4.818vw 3.906vw;
    }
    /* Course Card End */
}

@media screen and (max-width: 767.9px) {
    .course-details-sec {
        padding: 12.5vw 7.813vw 7.813vw;
    }

    .course-details-ttl {
        font-size: 4.688vw;
        margin-bottom: 7.813vw;
    }

    .course-details-blk .outline-blk {
        float: none;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.16) 0vw 0.156vw 0.625vw;
        padding: 3.125vw;
        border-radius: 1.563vw;
        margin-bottom: 3.125vw;
    }

    .course-details-blk .outline-blk .outline-ttl {
        font-size: 3.75vw;
    }

    .course-details-blk .outline-blk .outline-lists {
        padding: 0 3.125vw;
    }

    .course-details-blk .outline-blk .outline-lists li {
        margin: 2.344vw 0;
        padding: 2.031vw 0;
    }

    .course-details-blk .outline-blk .outline-lists li a {
        font-size: 2.813vw;
    }

    .course-details-blk .outline-blk .outline-lists li i {
        margin-right: 1.563vw;
    }

    .course-details-blk .vd-img-blk {
        float: none;
        width: 100%;
    }

    .course-details-blk .vd-img-blk iframe {
        width: 100%;
        height: 65vw;
    }

    .course-details-sec img {
        width: 100%;
    }

    .course-details-sec .latest-course-blk img {
        width: 100%;
        height: 39.063vw;
    }

    .course-details-blk .vd-img-blk .description {
        margin-top: 7.813vw;
    }

    .course-details-blk .vd-img-blk .description .price-type-blk {
        margin-bottom: 7.813vw;
    }

    .course-details-blk .vd-img-blk .description .description-ttl {
        font-size: 3.438vw;
    }

    .course-details-blk .vd-img-blk .description p {
        font-size: 2.344vw;
        line-height: 1.4;
        margin-bottom: 1.563vw;
    }

    .course-details-blk .vd-img-blk .description .type,
    .course-details-blk .vd-img-blk .description .price {
        margin-right: 1.563vw;
        font-size: 2.5vw;
    }

    .course-details-sec .badge,
    .course-details-sec .badge {
        padding: 1.25vw;
        border-radius: 1.563vw;
        font-size: 1.719vw;
    }

    .course-details-blk .vd-img-blk .description .enroll-btn {
        font-size: 2.188vw;
    }

    .course-details-blk .vd-img-blk .review {
        margin-top: 7.813vw;
    }

    .course-details-blk .vd-img-blk .review textarea {
        width: 100%;
        border-radius: 1.563vw;
        padding: 3.125vw;
        letter-spacing: 0.156vw;
    }

    .course-details-blk .vd-img-blk .review .review-btn {
        margin-top: 3.125vw;
    }

    .course-details-blk .vd-img-blk .review .review-btn .btn {
        font-size: 2.188vw;
        padding: 1.563vw 2.5vw 1.563vw 2.5vw;
    }

    .course-details-blk .vd-img-blk .review-box {
        margin-top: 3.125vw;
    }

    .course-details-blk .vd-img-blk .review-box .review-lists {
        margin-top: 3.125vw;
    }

    .course-details-blk .vd-img-blk .review-box h3 {
        font-size: 3.438vw;
        letter-spacing: 0.156vw;
    }

    .course-details-blk .vd-img-blk .review-box .box {
        margin-top: 6.25vw;
    }

    .course-details-blk .vd-img-blk .review-box .review-lists .review-profile {
        float: left;
        width: 20%;
        padding-left: 3.906vw;
    }

    .course-details-blk
        .vd-img-blk
        .review-box
        .review-lists
        .review-profile
        img {
        width: 100%;
    }

    .course-details-blk .vd-img-blk .review-box .review-lists .review-info {
        float: right;
        width: 72%;
        margin-top: 1.563vw;
    }

    .course-details-blk
        .vd-img-blk
        .review-box
        .review-lists
        .review-info
        .name {
        font-size: 2.5vw;
    }

    .course-details-blk
        .vd-img-blk
        .review-box
        .review-lists
        .review-info
        .review-content {
        font-size: 1.875vw;
    }

    .course-details-sec .latest-course-blk {
        padding: 7.813vw 0 0;
    }

    .course-details-sec .latest-course-ttl {
        font-size: 3.438vw;
        margin-bottom: 3.125vw;
        letter-spacing: 0.156vw;
    }

    /* Course Card */
    .card .card-img .type {
        top: 10%;
        left: 0;
        padding: 1.563vw 3.906vw;
        font-size: 2.188vw;
    }

    .card .card-list {
        float: none;
        width: 100%;
        margin-right: 8.281vw;
        margin-bottom: 7.813vw;
    }

    .card .card-list:nth-child(2n) {
        margin-right: 0;
    }

    .card .card-body {
        padding: 4.688vw 3.125vw;
        font-size: 2.188vw;
    }

    .card .card-body .name {
        font-size: 3.125vw;
        margin-bottom: 3.125vw;
    }

    .card .card-body .create-time,
    .card .card-body .course-video {
        font-size: 1.875vw;
    }

    .card .card-body .fa-calendar-day {
        margin-right: 0.781vw;
    }

    .card .card-body .fa-video {
        margin-right: 0.781vw;
    }

    .card .card-body .course-video {
        margin-top: 2.031vw;
    }

    .card .card-body .course-video span {
        padding: 0.313vw 0.938vw;
    }

    .card .card-body .about-course {
        font-size: 2.188vw;
        width: 65.625vw;
    }

    .card .card-body .language {
        margin-top: 2.344vw;
    }

    .card .card-body .language .badge {
        padding: 1.25vw;
        font-size: 1.875vw;
        margin-right: 0.781vw;
    }

    .card .card-body .price {
        right: 3%;
        bottom: 83%;
        padding: 5.781vw 2.344vw;
        font-weight: 700;
    }

    .card .card-body .price-zero {
        right: 3%;
        bottom: 83%;
        padding: 5.781vw 4.688vw;
    }
    /* Course Card End */
}
