/*sec-mv*/
.home-sec .left-blk{
  padding-top: 30px;
  margin-top: 80px;
}
.home-sec .cmn-title{
  color: #232323 ;
  font-size: 64px;
  font-weight: 700;
  padding: 15px 0;
  line-height: 1.2;
}
.home-sec .title{
  color: #60a5fa;
}
.home-sec .col-50{
  width: 47%;
  margin-right: 40px;
  float:left;
}
.home-sec .col-50:nth-of-type(2n){
  margin-right: 0px;
}
.home-sec .cmn-paragraph{
  font-size: 20px;
  font-weight: 300;
  line-height: 1.6;
}
.home-sec .blog-paragraph{
  padding-bottom: 62px;
}
/*End sec-mv*/
/*info-list*/
.home-sec .info{
  padding: 40px 110px;
}
.home-sec .info-card{
  width: 24%;
  background: #fff;
  float: left;
  margin-right: 132px;
  border-radius: 6px;
  padding: 15px 10px;
  text-align: center;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.home-sec .info-card:nth-child(3n){
  margin-right: 0;
}
.home-sec .info-card img{
  width: 40%;
  float: left;
  height: fit-content;
  margin-right: 10%;
}
.home-sec .info-card .info-text{
 width: 40%;
 float: left;
 font-weight: 700;
 font-size: 16px;
 line-height: 1.5;
 position: absolute;
 top: 50%;
 transform: translate(100%,-50%);
}
.home-sec .info-card .info-text .info-title{
  color: #ddd;
}
.home-sec .course{
  margin-top: -111px;
    padding: 140px 99px 92px;
    background-color: rgba(182, 193, 198, 0.3);
    border-radius: 30px;
    /* border-top-left-radius: 125px;
    border-top-right-radius: 125px; */
}

.home-sec .course-list{
  padding: 0px 0px;
  margin-bottom: 30px;
}
.home-sec .course-card{
  background-color: #fff;
}
.course-card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.course-card:hover img {
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.35));
}
/* .home-sec .course-card{
  width: 31%;
  background: #fff;
  border: 1px solid rgb(104, 95, 95);
  float: left;
  margin-right: 34px;
  border-radius: 6px;
}
.home-sec .course-card:nth-of-type(3n){
  margin-right: 0;
}
.home-sec .course-card img{
  height: 250px;
  border-bottom: 1px solid #ddd;
}
.home-sec .course-card .course-info{
  padding: 36px 23px;
  font-size: 16px;
  font-weight: 500px;
  color: #232323;
}
.home-sec .course-card .course-info .course-title{
  padding-bottom: 32px;
}
.home-sec .course-card .course-info .type-blk{
  padding-bottom: 32px;
}
.home-sec .course-card .course-info .course-type{
  padding-right: 65px;
}
.home-sec .course-card .course-info .badge{
  padding: 5px 5px;
  background-color: #e9dddd;
  border-radius: 3px;
  margin-right: 8px;
  color: #fff;
}
.home-sec .course-card .course-info .laravel-color{
  background-color: rgb(246, 116, 46);
}
.home-sec .course-card .course-info .php-color{
  background-color: rgb(85, 152, 253);
} */
.home-sec .course-btn{
  text-align: center;
}

/*End course*/
/*blog*/
.home-sec .blg-title {
  color: #60a5fa;
  padding-bottom: 30px;
  font-size: 32px;
}
.home-sec .blog{
  padding: 30px 0;
}
/*Ipad*/
@media screen and (min-width: 768px) and (max-width:1180px) {
  .home-sec {
    padding: 0vw 29.998px;
}
.home-sec .col-50{
  width: 100%;
  margin-right: 0vw;
  padding: 0vw 0vw;
  float:none;
}
.home-sec .col-50:nth-of-type(2n){
  margin-right: 0vw;
}
.home-sec .left-blk{
  margin-top: 8.594vw;
}
.home-sec .cmn-title {
  color: #232323;
  font-size: 8.333vw;
  font-weight: 700;
  padding: 1.953vw 0;
  line-height: 1.2;
}
.home-sec .cmn-paragraph {
  font-size: 2.344vw;
  font-weight: 300;
  line-height: 2;
}

.home-sec .info {
    padding: 0vw 4.818vw;
}
.home-sec .info-card {
  width: 24%;
  background: #fff;
  float: left;
  margin-right: 11.458vw;
  border-radius: 0.781vw;
  padding: 1.953vw 1.302vw;
  text-align: center;
  position: relative;
  box-shadow: rgb(100 100 111 / 20%) 0vw 0.911vw 3.776vw 0vw;
}
.home-sec .info-card .info-text {
  width: 40%;
  float: left;
  font-weight: 700;
  font-size: 1.823vw;
  line-height: 1.5;
  position: absolute;
  top: 50%;
  transform: translate(100%,-50%);
}
.home-sec .course {
  margin-top: -5.208vw;
  padding: 18.229vw 2.604vw 6.771vw;
  background-color: rgba(182, 193, 198, 0.3);
  border-radius: 3.906vw;
}
.home-sec .course-card{
  margin-right: 5.208vw;
}
.home-sec .course-card:nth-child(2n) {
  margin-right: 0;
}
.home-sec .course-list {
  padding: 0vw 0vw;
  margin-bottom: 1.042vw;
}
.home-sec .blog {
  padding: 3.255vw 0 7.318vw;
}
.home-sec .blg-title {
  color: #60a5fa;
  padding-bottom: 3.906vw;
  font-size: 4.167vw;
}

}
/* Mobile */
@media screen and (max-width: 767.9px) {
  .home-sec {
    padding: 0 4.688vw;
}
.home-sec .col-50{
  width: 100%;
  margin-right: 0vw;
  padding: 0vw 0vw;
  float:none;
}
.home-sec .col-50:nth-of-type(2n){
  margin-right: 0vw;
}
.home-sec .left-blk{
  margin-top: 8.594vw;
}
.home-sec .cmn-title {
  color: #232323;
  font-size: 8.333vw;
  font-weight: 700;
  padding: 1.953vw 0;
  line-height: 1.2;
}
.home-sec .cmn-paragraph {
  font-size: 2.344vw;
  font-weight: 300;
  line-height: 2;
}

.home-sec .info {
    padding: 0vw 4.818vw;
}
.home-sec .info-card {
  width: 24%;
  background: #fff;
  float: left;
  margin-right: 10vw;
  border-radius: 1.406vw;
  padding: 1.953vw 1.302vw;
  text-align: center;
  position: relative;
  box-shadow: rgb(100 100 111 / 20%) 0vw 0.911vw 3.776vw 0vw;
}
.home-sec .info-card .info-text {
  width: 40%;
  float: left;
  font-weight: 700;
  font-size: 1.823vw;
  line-height: 1.5;
  position: absolute;
  top: 50%;
  transform: translate(100%,-50%);
}
.home-sec .course {
  margin-top: -5.208vw;
  padding: 18.229vw 2.604vw 6.771vw;
  background-color: rgba(182, 193, 198, 0.3);
  border-radius: 3.906vw;
}
.home-sec .course-card{
  margin-right: 5.208vw;
}
.home-sec .course-card:nth-child(2n) {
  margin-right: 0;
}
.home-sec .course-list {
  padding: 0vw 0vw;
  margin-bottom: 1.042vw;
}
.home-sec .blog {
  padding: 3.255vw 0 7.318vw;
}
.home-sec .blg-title {
  color: #60a5fa;
  padding-bottom: 3.906vw;
  font-size: 4.167vw;
}
}