/*sec-mv*/
.home-sec{
  background-image: url(../../images/user/home/home-blog.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}
.home-tran{
  width: 100%;
  padding: 21%;
  position: absolute;
  background-color: rgb(255, 255 ,255,0.1);
  z-index: 1;
}
.home-sec .cmn-title{
  color: #ffffff;
  font-size: 64px;
  font-weight: 700;
  padding: 15px 0;
  line-height: 1.2;
}
.home-sfirst{
  padding: 50px 0px;
  position: inherit;
  z-index: 2;
}
.home-sec .title{
  color: #60a5fa;
}
.left-blk{
  margin: 0 auto;
  width: 75%;
  padding: 80px 0px;
  text-align: center;
}
.home-ssecond{
  padding: 90px 0px;
}

.home-sec .cmn-paragraph{
  font-size: 20px;
  font-weight: 500;
  line-height: 1.6;
  color: #ffffff;
}
/*home info*/
.info{
  background-color: #ffffff;
  position: relative;
}
.info-list{
  width: 100%;
  padding: 22px 20px;
  position: absolute;
  top: 10%;
  max-width: 1180px;
}
.info-card i{
  font-size: 30px;
  color: #4f4a4a;
}
.info-list .info-card{
  width: 25%;
  background: #ffffff;
  float: left;
  margin-right: 132px;
  border-radius: 6px;
  padding: 20px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.info-card:nth-child(3n){
  margin-right: 0;
}

.info-card .info-text{
  padding-top: 20px;
}
.info-text hr{
  display: block;
  width: 70px;
  margin-left: 83px;
  background-color: #4f4a4a;
  height: 3px;
  border-radius: 5px;
}
.info-card .info-text h4{
  font-size: 30px;
  color: #4f4a4a;
}
.info-card .info-text .info-title{
  color: #4f4a4a;
}
.course{
  background-color: #f8f8f8;
  padding: 150px 0px 60px 0px;
}
.home-course{
  margin-top: 45px;
}
.home-cbtn{
  display: inline-block;
  border: 1px solid #0e153a;
  border-radius: 5px;
  width: 385px;
  text-align: center;
  padding: 10px;
  /* margin: 0 auto; */
  margin-left: 34%;
  margin-top: 35px;
}
.home-cbtn:hover{
  background-color: #0e153a;
  color: #ffffff;
}

/*Benefits*/
.home-bene{
  background-color: #ffffff;
  padding: 50px 0;
}
.home-betitl h4, .be-titl{
  text-align: center;
}
.home-betitl h4{
  font-size: 30px;
  letter-spacing: 0.1em;
  padding-bottom: 20px;
  color: #28c7fa;
}
.be-titl{
  color: #4f4a4a;
}
.be-list{
  padding-top: 50px;
  width: 1120px;
  margin: 0 auto;
}
.home-belist{
  width: 320px;
  border: 1px solid #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  float: left;
  margin-right: 80px;
}
.home-belist:nth-child(3n){
  margin-right: 0;
}
.home-belist i{
  padding-top: 10px;
  font-size: 35px;
  color: #28c7fa;
}
.home-belist h5{
  padding: 30px 0px;
  font-size: 20px;
  text-transform: capitalize;
}
.home-belist p{
  line-height: 1.6;
  font-size: 17px;
  padding-left: 10px;
}
/*blog*/
.home-bsec{
  padding: 90px 0px;
}
.home-bimage{
  width: 570px;
  float: left;
}
.home-bimage img{
  height: 400px;
}
.blg-title {
  color: #60a5fa;
  padding-bottom: 30px;
  font-size: 32px;
}
.sblog-left{
  float: left;
  width: 400px;
}
.sblog-right{
  float: right;
  width: 500px;
}
.blog-paragraph{
  padding: 20px 0px;
}
.home-bbtn{
  display: inline-block;
  
  padding: 10px 20px;
  border: 1px solid #0e153a;
  border-radius: 5px;
 
}
.home-bbtn:hover{
  transition: 0.3;
  background-color: #0e153a;
  color: #ffffff;
}
.home-btext{
  width: 500px;
  margin: 0 auto;
  float: right;
  padding-top: 60px;
}
.home-btext h4{
  font-size: 30px;
}
.home-btext p{
  text-align: justify;
  color: #000000;
  line-height: 1.6;
  font-size: 18px;
  padding: 30px 0px;
}
.scroll-icon{
  display: inline-block;
  padding: 15px;
  background-color: #2f89fc;
  border-radius: 5px;
  font-size: 20px;
  color: #ffffff;
  position: fixed;
  bottom: 40px;
  right: 20px;
}
.scroll-icon:hover{
  background-color: rgb(47, 137, 252,0.5);
  transition: 0.3s;
}

/*Ipad*/
@media screen and (min-width: 768px) and (max-width:1180px) {
.l-inner {
    width: 100%;
    max-width: 100%;
}
.home-tran{
  width: 100%;
  padding: 32%;
  position: absolute;
  z-index: 1;
}
.home-sec .cmn-title{
  font-size: 6.813vw;
  font-weight: 700;
  padding: 2.344vw 0;
  line-height: 1.2;
}
.home-sfirst{
  padding: 7.813vw 3.906vw;
  position: inherit;
  z-index: 2;
}
.left-blk{
  margin: 0 auto;
  width: 100%;
  padding: 12.5vw 0vw;
}
.home-ssecond{
  padding: 14.063vw 0vw;
}

.home-sec .cmn-paragraph{
  font-size: 2.125vw;
  font-weight: 400;
  line-height: 1.6;
}
/*home info*/
.info-list{
  width: 100%;
  position: absolute;
  top: 7%;
  max-width: 100%;
  padding: 3.438vw 3.125vw;
}
.info-card i{
  font-size: 3.125vw;
}
.info-list .info-card{
  width: 25%;
  float: left;
  margin-right: 11.625vw;
  border-radius: 0.938vw;
  padding: 3.125vw;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0vw 0.781vw 2.344vw;
}

.info-card:nth-child(3n){
  margin-right: 0;
}

.info-card .info-text{
  padding-top: 3.125vw;
}
.info-text hr{
  display: block;
  width: 10.938vw;
  margin-left: 3.125vw;
  height: 0.469vw;
  border-radius: 0.781vw;
}
.info-card .info-text h4{
  font-size: 3.125vw;
}
.info-card .info-text .info-title{
  font-size: 2.031vw;
}
.course{
  padding: 23.438vw 0vw 9.375vw 0vw;
}
.home-course{
  padding: 0 4.688vw;
  margin-top: 7.031vw;
}

.home-cbtn{
  display: inline-block;
  border: 0.156vw solid #0e153a;
  border-radius: 0.781vw;
  width: 60.156vw;
  text-align: center;
  padding: 1.563vw;
  /* margin: 0 auto; */
  margin-left: 20%;
  margin-top: 0;
}

/*Benefits*/
.home-bene{
  padding: 7.813vw 3.906vw;
}
.home-betitl h4, .be-titl{
  text-align: center;
}
.home-betitl h4{
  font-size: 4.688vw;
  letter-spacing: 0.1em;
  padding-bottom: 3.125vw;
}
.be-list{
  padding-top: 7.813vw;
  width: 100%;
  margin: 0 auto;
}
.home-belist{
  width: 41.875vw;
  border: 0.156vw solid #ffffff;
  padding: 3.125vw;
  border-radius: 0.781vw;
  box-shadow: rgba(0, 0, 0, 0.35) 0vw 0.781vw 2.344vw;
  float: left;
  margin-right: 8.3vw;
  margin-bottom: 5.563vw;
}
.home-belist:nth-child(even){
  margin-right: 0;
}
.home-belist:nth-child(3n){
  margin-right: 12.5vw;
}
.home-belist i{
  padding-top: 1.563vw;
  font-size: 5.469vw;
}
.home-belist h5{
  padding: 4.688vw 0vw;
  font-size: 3.125vw;
}
.home-belist p{
  line-height: 1.6;
  font-size: 2.344vw;
  padding-left: 1.563vw;
}
/*blog*/
.home-bsec{
  padding: 14.063vw 0vw;
}
.home-bimage{
  width: 89.063vw;
  float: none;
  margin: 0 auto;
}
.home-bimage img{
  height: 62.5vw;
}
.blg-title {
  padding-bottom: 4.688vw;
  font-size: 5vw;
}
.sblog-left{
  float: left;
  width: 62.5vw;
}
.sblog-right{
  float: right;
  width: 78.125vw;
}
.blog-paragraph{
  padding: 3.125vw 0vw;
}
.home-bbtn{
  display: inline-block;
  
  padding: 1.563vw 3.125vw;
  border: 0.156vw solid #0e153a;
  border-radius: 0.781vw;
 
}
.home-bbtn:hover{
  transition: 0.3;
}
.home-btext{
  width: 78.125vw;
  margin: 0 auto;
  float: none;
  padding-top: 9.375vw;
  text-align: center;
}
.home-btext h4{
 
  font-size: 4.688vw;
 
}
.home-btext p{
  text-align: justify;
  line-height: 1.6;
  font-size: 2.813vw;
  padding: 4.688vw 0vw;
}
.scroll-icon{
  display: inline-block;
  padding: 1.344vw;
  border-radius: 0.781vw;
  font-size: 3.125vw;
  color: #ffffff;
  position: fixed;
  bottom: 6.25vw;
  right: 3.125vw;
}
.scroll-icon:hover{
  background-color: rgb(47, 137, 252,0.5);
  transition: 0.3s;
}
}

/* Mobile */
@media screen and (max-width: 767.9px) {
  .l-inner {
    width: 100%;
    max-width: 100%;
}
  .home-tran{
    width: 100%;
    padding: 24%;
    position: absolute;
    z-index: 1;
  }
  .home-sec .cmn-title{
    font-size: 6.813vw;
    font-weight: 700;
    padding: 2.344vw 0;
    line-height: 1.2;
  }
  .home-sfirst{
    padding: 7.813vw 3.906vw;
    position: inherit;
    z-index: 2;
  }
  .left-blk{
    margin: 0 auto;
    width: 100%;
    padding: 12.5vw 0vw;
  }
  .home-ssecond{
    padding: 14.063vw 0vw !important;
  }
  
  .home-sec .cmn-paragraph{
    font-size: 2.125vw;
    font-weight: 400;
    line-height: 1.6;
  }
  /*home info*/
  .info-list{
    width: 100%;
    position: absolute;
    top: 5%;
    max-width: 100%;
    padding: 3.438vw 3.125vw;
  }
  .info-card i{
    font-size: 3.125vw;
  }
  .info-list .info-card{
    width: 25%;
    float: left;
    margin-right: 11.625vw;
    border-radius: 0.938vw;
    padding: 3.125vw;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0vw 0.781vw 2.344vw;
  }
  
  .info-card:nth-child(3n){
    margin-right: 0;
  }
  
  .info-card .info-text{
    padding-top: 3.125vw;
  }
  .info-text hr{
    display: block;
    width: 10.938vw;
    margin-left: 3.125vw;
    height: 0.469vw;
    border-radius: 0.781vw;
  }
  .info-card .info-text h4{
    font-size: 3.125vw;
  }
  .info-card .info-text .info-title{
    font-size: 2.031vw;
  }
  .course{
    padding: 23.438vw 0vw 9.375vw 0vw;
  }
  .home-course{
    margin-top: 7.031vw;
  }
  
  .home-cbtn{
    display: inline-block;
    border: 0.156vw solid #0e153a;
    border-radius: 0.781vw;
    width: 48.156vw;
    text-align: center;
    padding: 1.563vw;
    /* margin: 0 auto; */
    margin-left: 23%;
    margin-top: 0;
  }
  
  /*Benefits*/
  .home-bene{
    padding: 7.813vw 3.906vw;
  }
  .home-betitl h4, .be-titl{
    text-align: center;
  }
  .home-betitl h4{
    font-size: 4.688vw;
    letter-spacing: 0.1em;
    padding-bottom: 3.125vw;
  }
  .be-list{
    padding-top: 7.813vw;
    width: 41.875vw;
    margin: 0 auto;
  }
  .home-belist{
    width: 41.875vw;
    border: 0.156vw solid #ffffff;
    padding: 3.125vw;
    border-radius: 0.781vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0vw 0.781vw 2.344vw;
    float: left;
    margin-right: 8.3vw;
    margin-bottom: 5.563vw;
  }
  .home-belist:nth-child(even){
    margin-right: 0;
  }
  .home-belist:nth-child(3n){
    margin-right: 12.5vw;
  }
  .home-belist i{
    padding-top: 1.563vw;
    font-size: 5.469vw;
  }
  .home-belist h5{
    padding: 4.688vw 0vw;
    font-size: 3.125vw;
  }
  .home-belist p{
    line-height: 1.6;
    font-size: 2.344vw;
    padding-left: 1.563vw;
  }
  /*blog*/
  .home-bsec{
    padding: 14.063vw 0vw;
  }
  .home-bimage{
    width: 89.063vw;
    float: none;
    margin: 0 auto;
  }
  .home-bimage img{
    height: 62.5vw;
  }
  .blg-title {
    padding-bottom: 4.688vw;
    font-size: 5vw;
  }
  .sblog-left{
    float: left;
    width: 62.5vw;
  }
  .sblog-right{
    float: right;
    width: 78.125vw;
  }
  .blog-paragraph{
    padding: 3.125vw 0vw;
  }
  .home-bbtn{
    display: inline-block;
    
    padding: 1.563vw 3.125vw;
    border: 0.156vw solid #0e153a;
    border-radius: 0.781vw;
   
  }
  .home-bbtn:hover{
    transition: 0.3;
  }
  .home-btext{
    width: 78.125vw;
    margin: 0 auto;
    float: none;
    padding-top: 9.375vw;
    text-align: center;
  }
  .home-btext h4{
   
    font-size: 4.688vw;
   
  }
  .home-btext p{
    text-align: justify;
    line-height: 1.6;
    font-size: 2.813vw;
    padding: 4.688vw 0vw;
  }
  .scroll-icon{
    display: inline-block;
    padding: 1.344vw;
    border-radius: 0.781vw;
    font-size: 3.125vw;
    color: #ffffff;
    position: fixed;
    bottom: 6.25vw;
    right: 3.125vw;
  }
  .scroll-icon:hover{
    background-color: rgb(47, 137, 252,0.5);
    transition: 0.3s;
  }
}