/*sec-mv*/
.home-sec{
  background-image: url(../../images/user/home/home-blog.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}
.home-tran{
  width: 100%;
  padding: 21%;
  position: absolute;
  background-color: rgb(255, 255 ,255,0.1);
  z-index: 1;
}
.home-sec .cmn-title{
  color: #232323 ;
  font-size: 64px;
  font-weight: 700;
  padding: 15px 0;
  line-height: 1.2;
}
.home-sfirst{
  padding: 50px 0px;
  position: inherit;
  z-index: 2;
}
.home-sec .title{
  color: #60a5fa;
}
.left-blk{
  margin: 0 auto;
  width: 47%;
  padding: 80px 0px;
}
.right-blk{
  float: right;
}
.home-ssecond{
  padding: 50px 0px;
}
/*.home-sec .col-50{
  width: 47%;
  margin-right: 40px;
  float:left;
}
.home-sec .col-50:nth-of-type(2n){
  margin-right: 0px;
}*/
.home-sec .cmn-paragraph{
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
}
/*.home-sec .blog-paragraph{
  padding-bottom: 62px;
}*/
/*End sec-mv*/
/*info-list*/
.info{
  background-color: #ffffff;
}
.info-list{
  width: 80%;
  margin: 0 auto;
}
.info-card i{
  font-size: 30px;
  color: #4f4a4a;
}
.info-list .info-card{
  width: 24%;
  background: #ffffff;
  float: left;
  margin-right: 132px;
  border-radius: 6px;
  padding: 20px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.info-card:nth-child(3n){
  margin-right: 0;
}

.info-card .info-text{
  padding-top: 20px;
}
.info-text hr{
  display: block;
  width: 70px;
  margin-left: 55px;
  /* text-align: center; */
  /* color: red; */
  background-color: #4f4a4a;
  height: 3px;
  border-radius: 5px;
}
.info-card .info-text h4{
  font-size: 30px;
  color: #4f4a4a;
}
.info-card .info-text .info-title{
  color: #4f4a4a;
}
/*.home-sec .course{
  margin-top: -111px;
    padding: 140px 99px 92px;
    background-color: rgba(182, 193, 198, 0.3);
    border-radius: 30px;
}*/

/*.home-sec .course-list{
  padding: 0px 0px;
  margin-bottom: 30px;
}
.home-sec .course-card{
  background-color: #fff;
}
.course-card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.course-card:hover img {
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.35));
}*/
/* .home-sec .course-card{
  width: 31%;
  background: #fff;
  border: 1px solid rgb(104, 95, 95);
  float: left;
  margin-right: 34px;
  border-radius: 6px;
}
.home-sec .course-card:nth-of-type(3n){
  margin-right: 0;
}
.home-sec .course-card img{
  height: 250px;
  border-bottom: 1px solid #ddd;
}
.home-sec .course-card .course-info{
  padding: 36px 23px;
  font-size: 16px;
  font-weight: 500px;
  color: #232323;
}
.home-sec .course-card .course-info .course-title{
  padding-bottom: 32px;
}
.home-sec .course-card .course-info .type-blk{
  padding-bottom: 32px;
}
.home-sec .course-card .course-info .course-type{
  padding-right: 65px;
}
.home-sec .course-card .course-info .badge{
  padding: 5px 5px;
  background-color: #e9dddd;
  border-radius: 3px;
  margin-right: 8px;
  color: #fff;
}
.home-sec .course-card .course-info .laravel-color{
  background-color: rgb(246, 116, 46);
}
.home-sec .course-card .course-info .php-color{
  background-color: rgb(85, 152, 253);
} */
/*.home-sec .course-btn{
  text-align: center;
}*/

/*End course*/
/*blog*/
.home-bsec{
  padding: 90px 0px;
}
.home-bimage{
  width: 570px;
  float: left;
}
.home-bimage img{
  height: 400px;
}
.blg-title {
  color: #60a5fa;
  padding-bottom: 30px;
  font-size: 32px;
}
.sblog-left{
  float: left;
  width: 400px;
}
.sblog-right{
  float: right;
  width: 500px;
}
.blog-paragraph{
  padding: 20px 0px;
}
.home-bbtn{
  display: inline-block;
  
  padding: 10px 20px;
  border: 1px solid #30e3ca;
  border-radius: 5px;
 
}
.home-bbtn:hover{
  transition: 0.3;
  background-color: #30e3ca;
}
.home-btext{
  width: 500px;
  margin: 0 auto;
  float: right;
  padding-top: 60px;
}
.home-btext h4{
 
  font-size: 30px;
 
}
.home-btext p{
  text-align: justify;
  color: #000000;
  line-height: 1.6;
  font-size: 18px;
  padding: 30px 0px;
}
.scroll-icon{
  display: inline-block;
  padding: 15px;
  background-color: #2f89fc;
  border-radius: 5px;
  font-size: 20px;
  color: #ffffff;
  position: fixed;
  bottom: 40px;
  right: 20px;
}
/*Ipad*/
@media screen and (min-width: 768px) and (max-width:1180px) {
  .home-sec {
    padding: 0vw 29.998px;
}
.home-sec .col-50{
  width: 100%;
  margin-right: 0vw;
  padding: 0vw 0vw;
  float:none;
}
.home-sec .col-50:nth-of-type(2n){
  margin-right: 0vw;
}
.home-sec .left-blk{
  margin-top: 8.594vw;
}
.home-sec .cmn-title {
  color: #232323;
  font-size: 8.333vw;
  font-weight: 700;
  padding: 1.953vw 0;
  line-height: 1.2;
}
.home-sec .cmn-paragraph {
  font-size: 2.344vw;
  font-weight: 300;
  line-height: 2;
}

.home-sec .info {
    padding: 0vw 4.818vw;
}
.home-sec .info-card {
  width: 24%;
  background: #fff;
  float: left;
  margin-right: 11.458vw;
  border-radius: 0.781vw;
  padding: 1.953vw 1.302vw;
  text-align: center;
  position: relative;
  box-shadow: rgb(100 100 111 / 20%) 0vw 0.911vw 3.776vw 0vw;
}
.home-sec .info-card .info-text {
  width: 40%;
  float: left;
  font-weight: 700;
  font-size: 1.823vw;
  line-height: 1.5;
  position: absolute;
  top: 50%;
  transform: translate(100%,-50%);
}
.home-sec .course {
  margin-top: -5.208vw;
  padding: 18.229vw 2.604vw 6.771vw;
  background-color: rgba(182, 193, 198, 0.3);
  border-radius: 3.906vw;
}
.home-sec .course-card{
  margin-right: 5.208vw;
}
.home-sec .course-card:nth-child(2n) {
  margin-right: 0;
}
.home-sec .course-list {
  padding: 0vw 0vw;
  margin-bottom: 1.042vw;
}
.home-sec .blog {
  padding: 3.255vw 0 7.318vw;
}
.home-sec .blg-title {
  color: #60a5fa;
  padding-bottom: 3.906vw;
  font-size: 4.167vw;
}

}
/* Mobile */
@media screen and (max-width: 767.9px) {
  .home-sec {
    padding: 0 4.688vw;
}
.home-sec .col-50{
  width: 100%;
  margin-right: 0vw;
  padding: 0vw 0vw;
  float:none;
}
.home-sec .col-50:nth-of-type(2n){
  margin-right: 0vw;
}
.home-sec .left-blk{
  margin-top: 8.594vw;
}
.home-sec .cmn-title {
  color: #232323;
  font-size: 8.333vw;
  font-weight: 700;
  padding: 1.953vw 0;
  line-height: 1.2;
}
.home-sec .cmn-paragraph {
  font-size: 2.344vw;
  font-weight: 300;
  line-height: 2;
}

.home-sec .info {
    padding: 0vw 4.818vw;
}
.home-sec .info-card {
  width: 24%;
  background: #fff;
  float: left;
  margin-right: 10vw;
  border-radius: 1.406vw;
  padding: 1.953vw 1.302vw;
  text-align: center;
  position: relative;
  box-shadow: rgb(100 100 111 / 20%) 0vw 0.911vw 3.776vw 0vw;
}
.home-sec .info-card .info-text {
  width: 40%;
  float: left;
  font-weight: 700;
  font-size: 1.823vw;
  line-height: 1.5;
  position: absolute;
  top: 50%;
  transform: translate(100%,-50%);
}
.home-sec .course {
  margin-top: -5.208vw;
  padding: 18.229vw 2.604vw 6.771vw;
  background-color: rgba(182, 193, 198, 0.3);
  border-radius: 3.906vw;
}
.home-sec .course-card{
  margin-right: 5.208vw;
}
.home-sec .course-card:nth-child(2n) {
  margin-right: 0;
}
.home-sec .course-list {
  padding: 0vw 0vw;
  margin-bottom: 1.042vw;
}
.home-sec .blog {
  padding: 3.255vw 0 7.318vw;
}
.home-sec .blg-title {
  color: #60a5fa;
  padding-bottom: 3.906vw;
  font-size: 4.167vw;
}
}