.dashboard-ttl {
    margin: 30px 0;
    color: #60a5fa;
    font-size: 32px;
    text-align: center;
}

.sec-user-dashboard {}

.sec-user-dashboard .alert {
    position: absolute;
    top: 10%;
    right: 0px;
    padding: 20px 40px;
    background: #0092ef;
    min-width: 420px;
    border-radius: 4px;
    border-left: 8px solid #0092ef;
    animation: show_slide 1s ease forwards;
}
.main-visual {
    padding: 10px 0 148px;
    border-bottom-left-radius: 94px;
    border-bottom-right-radius: 94px;
    background: linear-gradient(90deg, rgba(14,44,83,1) 11%, rgba(45,152,226,1) 82%);
}
.dashboard-l-inner {
    margin-top: -93px;
}
.main-visual h2 {
    color: rgb(255 255 255);
}
.dashboard-content .profile-name {
    padding: 20px 25px;
    line-height: 2.4;
    position: relative;
    transition: 0.9s;
}
.dashboard-content .profile-name i {
    position: absolute;
    top: 1px;   
    right: 6px;
    color: rgb(0 0 0);
    background-color: #fff6;;
    display: none;
    transition: 0.9s;
}
.dashboard-content .profile-img-container {
    margin: 29px 0 42px -1px;
}
/*Temp*/
.wrap-custom-file {
    position: relative;
    display: inline-block;
    width: 250px;
    margin: 0 0.5rem 1rem;
    text-align: center;
  }
  
  .wrap-custom-file input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    overflow: hidden;
    opacity: 0;
  }
  .wrap-custom-file label #custom-file {
    padding: 10px 15px;
    background-color: #0092ef;
    color: #fff;
    border-radius: 5px;
  }
  
  #user-edit-profile .profile-name.file-ok {
    background-size: cover;
    background-position: center;
  }

  
/*end template*/
.profile-toggle-name {
    display: none;
}

.profile-nav {
    display: none;
}

.sec-user-dashboard .alert .fa-circle-check {
    position: absolute;
    top: 50%;
    left: 20px;
    color: #fff;
    font-size: 30px;
    transform: translateY(-50%);
}

.sec-user-dashboard .alert .msg {
    padding: 0 20px;
    color: #fff;
    font-size: 18px;
}

.sec-user-dashboard .alert .close-btn {
    position: absolute;
    top: 50%;
    right: 0;
    padding: 8px 18px;
    background: #0092ef;
    cursor: pointer;
    transform: translateY(-50%);
}

.sec-user-dashboard .alert .close-btn:hover {
    background: #0092ef;
}

.sec-user-dashboard .alert .close-btn .fa-xmark {
    line-height: 40px;
    color: #86b6e4;
    font-size: 22px;
}

.sec-user-dashboard .alert.hide {
    animation: hide_slide 1s ease forwards;
}

.error {
    padding-top: 4px;
    color: rgb(255 68 68);
}

.dashboard-card {
    width: 79%;
    margin: 0 auto 35px;
    border-radius: 20px;
    /*box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;*/
    padding-bottom: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.7s;
    background-color: rgb(255 255 255);
}

.dashboard-aside {
    float: left;
    width: 20%;
}

.dashboard-content {
    float: right;
    width: 80%;
    padding: 15px 0 15px 0px;
}
.dashboard-content form {
    padding-right: 22px;
}
.dashboard-aside li {
    width: 60%;
    margin: 30px 0px 34px 20px;
    padding: 15px 10px;
}

.dashboard-aside li.active a {
    color: rgb(0 146 239);
}

.dashboard-aside li:last-child {
    margin-top: 10px;
}

.dashboard-aside li:last-child a {

    color: rgb(255 68 68);
}

.dashboard-aside li a {
    color: rgb(136 136 136);
    font-family: 'Roboto-Regular';
    font-size: 18px;
    font-weight: 500;
}

.dashboard-aside li:hover a {
    color: rgb(75 85 99);

}

.divider {
    margin: 0 12px;
    border: 0.2px solid rgba(136, 136, 136, 0.5);
}

/* --------------- Profile Edit ------------------ */
.profile-input-group {
    margin: 10px auto 15px;
}

.profile-input-group label {
    font-weight: 500;
}

.profile-input-group input,
.profile-input-group textarea {
    display: block;
    width: 100%;
    margin-top: 12px;
    padding: 10px;
    border: 1px solid rgb(229 231 235);
    outline: none;
}

#user-edit-profile button,
#user-password button {
    float: right;
    padding: 10px 12px;
    border: 1px solid transparent;
    background-color: rgb(0 146 239);
    color: #fff;
    transition: 0.7s;
    border-radius: 4px;
}

#user-edit-profile button:hover,
#user-password button:hover {
    border: 1px solid rgb(0 146 239);
    background-color: #fff;
    color: rgb(0 146 239);
}

/* --------------- User Courses ---------------------- */
#user-course .card {
	padding: 16px 0 0 15px;
}
#user-course h2 {
    margin: 10px 0 11px -3px;
    font-family: 'Roboto-Regular';
    font-size: 24px;
    font-weight: 500;
}

#user-course .card .card-list {
	float: left;
	width: 46.33%;
	margin-right: 19px;
	box-shadow: rgb(0 0 0 / 25%) 0px 0.0625em 0.0625em, rgb(0 0 0 / 25%) 0px 0.125em 0.5em, rgb(255 255 255 / 10%) 0px 0px 0px 1px inset;
	border-radius: 10px;
	border: 3px solid #ddd;
	transition: all 0.5s;
	margin-bottom: 28px;
}

#user-course .card .card-list:nth-child(2n) {
    margin-right: 0;
}

/*Ipad*/
@media screen and (min-width: 768px) and (max-width: 1180px) {
    body {
        font-size: 2.083vw;
    }

    .l-container,
    .l-inner {
        width: 100%;
        max-width: 100%;
    }

    .g-nav ul li .nav-active {
        color: #0092ef;
    }

    .g-nav ul li .nav-active::after {
        position: absolute;
        right: 0;
        left: 0;
        width: 100%;
        height: 3px;
        content: "";
    }

    .g-nav ul li {
        margin-right: 2.906vw;
    }
    .profile-name {
        padding: 1.432vw 1.172vw;
        background-color: rgb(255, 64, 129);
        color: #ffffff;
        border-radius: 50%;
        text-align: center;
        font-weight: 500;
    }
    .dashboard-content .profile-name {
        padding: 20px 25px;
    }

    .dashboard-ttl {
        margin: 30px 0;
        color: #60a5fa;
        font-size: 29px;
        text-align: center;
    }

    .sec-user-dashboard {}

    .sec-user-dashboard .alert {
        position: absolute;
        top: 10%;
        right: 0px;
        padding: 20px 40px;
        background: #0092ef;
        min-width: 420px;
        border-radius: 4px;
        border-left: 8px solid #0092ef;
        animation: show_slide 1s ease forwards;
    }

    .sec-user-dashboard .alert .fa-circle-check {
        position: absolute;
        top: 50%;
        left: 20px;
        color: #fff;
        font-size: 30px;
        transform: translateY(-50%);
    }

    .sec-user-dashboard .alert .msg {
        padding: 0 20px;
        color: #fff;
        font-size: 18px;
    }

    .sec-user-dashboard .alert .close-btn {
        position: absolute;
        top: 50%;
        right: 0;
        padding: 8px 18px;
        background: #0092ef;
        cursor: pointer;
        transform: translateY(-50%);
    }

    .sec-user-dashboard .alert .close-btn:hover {
        background: #0092ef;
    }

    .sec-user-dashboard .alert .close-btn .fa-xmark {
        line-height: 40px;
        color: #86b6e4;
        font-size: 22px;
    }

    .sec-user-dashboard .alert.hide {
        animation: hide_slide 1s ease forwards;
    }

    .error {
        padding-top: 4px;
        color: rgb(255 68 68);
    }

    .dashboard-mv-blk {}

    .dashboard-card {
        width: 70%;
        margin: 0 auto 25px;
        border-radius: 20px;
        /*box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;*/
        padding-bottom: 12px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transition: 0.7s;
    }

    .dashboard-aside {
        float: left;
        width: 20%;
    }

    .dashboard-content {
        float: right;
        width: 80%;
        padding: 15px;
    }

    .dashboard-aside li {
        width: 92%;
        margin: 30px 0px 34px 20px;
        padding: 15px 10px;
    }

    .dashboard-aside li.active a {
        color: rgb(0 146 239);
    }

    .dashboard-aside li:last-child {
        margin-top: 10px;
    }

    .dashboard-aside li:last-child a {

        color: rgb(255 68 68);
    }

    .dashboard-aside li a {
        color: rgb(136 136 136);
        font-family: 'Roboto-Regular';
        font-size: 17px;
        font-weight: 500;
    }

    .dashboard-aside li:hover a {
        color: rgb(75 85 99);

    }

    .divider {
        margin: 0 12px;
        border: 0.2px solid rgba(136, 136, 136, 0.5);
    }

    /* --------------- Profile Edit ------------------ */
    .profile-input-group {
        margin: 10px auto 15px;
    }

    .profile-input-group label {
        font-weight: 500;
    }

    .profile-input-group input,
    .profile-input-group textarea {
        display: block;
        width: 100%;
        margin-top: 12px;
        padding: 10px;
        border: 1px solid rgb(229 231 235);
        outline: none;
    }

    #user-edit-profile button,
    #user-password button {
        float: right;
        padding: 10px 12px;
        border: 1px solid transparent;
        background-color: rgb(0 146 239);
        color: #fff;
        transition: 0.7s;
        border-radius: 4px;
    }

    #user-edit-profile button:hover,
    #user-password button:hover {
        border: 1px solid rgb(0 146 239);
        background-color: #fff;
        color: rgb(0 146 239);
    }

    /* --------------- User Courses ---------------------- */
    #user-course .card {
        padding: 16px 0 0 15px;
    }
    #user-course h2 {
        margin: 10px 0 11px -3px;
        font-family: 'Roboto-Regular';
        font-size: 24px;
        font-weight: 500;
    }
    
    #user-course .card .card-list {
        float: left;
        width: 46.33%;
        margin-right: 19px;
        box-shadow: rgb(0 0 0 / 25%) 0px 0.0625em 0.0625em, rgb(0 0 0 / 25%) 0px 0.125em 0.5em, rgb(255 255 255 / 10%) 0px 0px 0px 1px inset;
        border-radius: 10px;
        border: 3px solid #ddd;
        transition: all 0.5s;
        margin-bottom: 28px;
    }
    
    #user-course .card .card-list:nth-child(2n) {
        margin-right: 0;
    }

}

/*  SP  */
@media screen and (max-width: 767.9px) {
    body {
        font-size: 2.813vw;
    }

    .pc {
        display: none;
    }

    .sp {
        display: block;
    }

    .l-container,
    .l-inner {
        width: 100%;
        padding: 0 4.688vw;
        max-width: 100%;
    }

    .profile-toggle-name {
        display: block;
        position: absolute;
        top: 22px;
        right: 65px;
        padding: 1.0102vw 1.053vw;
        background-color: rgb(255, 64, 129);
        border-radius: 50%;
        text-align: center;
        color: #ffffff;
        font-size: 15px;
        font-weight: 500;
    }
    .dashboard-content .profile-name {
        padding: 20px;
    }
    .g-nav ul li {
        margin-right: 2.906vw;
    }

    .sec-mv .header .g-nav ul li:last-child {
        display: none;
    }

    .sec-mv .header .profile-nav.is-show {
        left: 0;
        transition: 0.8s;
    }

    .sec-mv .header .profile-nav .profile-close-toggle {
        display: none;
    }

    .sec-mv .header .profile-nav.is-show .profile-close-toggle {
        display: block;
        position: absolute;
        top: 29px;
        right: 32px;
    }


    .sec-mv .header .profile-nav {
        display: block;
        position: fixed;
        top: 0%;
        left: -100%;
        z-index: 99999;
        width: 100%;
        height: 100%;
        margin-bottom: 0;
        background-color: #f6f8f9;
        transition: all 1s ease !important;
    }

    .sec-mv .header .profile-nav li {
        display: block;
        position: relative;
        left: 10%;
        float: none;
        margin-top: 54px;
        margin-bottom: 0.781vw;
    }

    .sec-mv .header .profile-nav li a {
        font-weight: 600;
    }

    .sec-mv .header .profile-nav .down {
        margin-left: 11px;
    }

    .sec-mv .header .profile-nav .profile-sublist li {
        display: none;
        transition: 0.8s;
    }

    .sec-mv .header .profile-nav .profile-sublist li.show {
        display: block;
    }

    .sec-mv .header .profile-nav .profile-sublist li {
        left: 8%;
        margin-top: 39px;
    }

    .profile-name {
        padding: 1.432vw 1.172vw;
        background-color: rgb(255, 64, 129);
        color: #ffffff;
        border-radius: 50%;
        text-align: center;
        font-weight: 500;
    }
    .dashboard-content .profile-name {
        padding: 20px;
    }
    
    .dashboard-ttl {
        margin: 30px 0;
        color: #60a5fa;
        font-size: 29px;
        text-align: center;
    }

    .sec-user-dashboard {}

    .sec-user-dashboard .alert {
        position: absolute;
        top: 10%;
        right: 0px;
        padding: 20px 40px;
        background: #0092ef;
        min-width: 420px;
        border-radius: 4px;
        border-left: 8px solid #0092ef;
        animation: show_slide 1s ease forwards;
    }

    .sec-user-dashboard .alert .fa-circle-check {
        position: absolute;
        top: 50%;
        left: 20px;
        color: #fff;
        font-size: 30px;
        transform: translateY(-50%);
    }

    .sec-user-dashboard .alert .msg {
        padding: 0 20px;
        color: #fff;
        font-size: 18px;
    }

    .sec-user-dashboard .alert .close-btn {
        position: absolute;
        top: 50%;
        right: 0;
        padding: 8px 18px;
        background: #0092ef;
        cursor: pointer;
        transform: translateY(-50%);
    }

    .sec-user-dashboard .alert .close-btn:hover {
        background: #0092ef;
    }

    .sec-user-dashboard .alert .close-btn .fa-xmark {
        line-height: 40px;
        color: #86b6e4;
        font-size: 22px;
    }

    .sec-user-dashboard .alert.hide {
        animation: hide_slide 1s ease forwards;
    }

    .error {
        padding-top: 4px;
        color: rgb(255 68 68);
    }

    .dashboard-mv-blk {}

    .dashboard-card {
        width: 70%;
        margin: 0 auto 25px;
        border-radius: 20px;
        /*box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;*/
        padding-bottom: 12px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transition: 0.7s;

    }

    .dashboard-aside {
        display: none;
        float: left;
        width: 20%;
    }

    .dashboard-content {
        float: none;
        width: 100%;
        padding: 15px;
    }

    .dashboard-aside li {
        width: 92%;
        margin: 30px 0px 34px 20px;
        padding: 15px 10px;
    }

    .dashboard-aside li.active a {
        color: rgb(0 146 239);
    }

    .dashboard-aside li:last-child {
        margin-top: 10px;
    }

    .dashboard-aside li:last-child a {

        color: rgb(255 68 68);
    }

    .dashboard-aside li a {
        color: rgb(136 136 136);
        font-family: 'Roboto-Regular';
        font-size: 17px;
        font-weight: 500;
    }

    .dashboard-aside li:hover a {
        color: rgb(75 85 99);

    }

    .divider {
        margin: 0 12px;
        border: 0.2px solid rgba(136, 136, 136, 0.5);
    }

    /* --------------- Profile Edit ------------------ */
    .profile-input-group {
        margin: 10px auto 15px;
    }

    .profile-input-group label {
        font-weight: 500;
    }

    .profile-input-group input,
    .profile-input-group textarea {
        display: block;
        width: 100%;
        margin-top: 12px;
        padding: 10px;
        border: 1px solid rgb(229 231 235);
        outline: none;
    }

    #user-edit-profile button,
    #user-password button {
        float: right;
        padding: 10px 12px;
        border: 1px solid transparent;
        background-color: rgb(0 146 239);
        color: #fff;
        transition: 0.7s;
        border-radius: 4px;
    }

    #user-edit-profile button:hover,
    #user-password button:hover {
        border: 1px solid rgb(0 146 239);
        background-color: #fff;
        color: rgb(0 146 239);
    }

    /* --------------- User Courses ---------------------- */
    #user-course .card {
        padding: 16px 0 0 15px;
    }
    #user-course h2 {
        margin: 10px 0 11px -3px;
        font-family: 'Roboto-Regular';
        font-size: 24px;
        font-weight: 500;
    }
    
    #user-course .card .card-list {
        float: left;
        width: 46.33%;
        margin-right: 19px;
        box-shadow: rgb(0 0 0 / 25%) 0px 0.0625em 0.0625em, rgb(0 0 0 / 25%) 0px 0.125em 0.5em, rgb(255 255 255 / 10%) 0px 0px 0px 1px inset;
        border-radius: 10px;
        border: 3px solid #ddd;
        transition: all 0.5s;
        margin-bottom: 28px;
    }
    
    #user-course .card .card-list:nth-child(2n) {
        margin-right: 0;
    }
}