* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url(../library/font/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url(../library/font/Roboto-Bold.ttf);
}

body {
  background-color: #f5f5f5;
}

/*dashboard*/
.dash-title {
  margin: 30px 0 30px 20px;
  color: #232323;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.dash-list {
  margin-bottom: 30px;
  list-style-type: none;
}

.dash-list li {
  float: left;
  width: 15%;
  margin-left: 20px;
  padding: 20px 0px 20px 20px;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  border-radius: 5px;
}

.dash-box i {
  float: left;
  margin-right: 20px;
  padding: 15px;
  border: 1px solid;
  background-color: #2f89fc;
  color: #ffffff;
  border-radius: 5px;
}

.dash-box div p:first-child {
  padding-bottom: 9px;
  color: #99a19f;
}

.error {
  margin-bottom: 5px;
  margin-left: 19px;
  color: rgb(236, 14, 14);
  font-size: 18px;
  display: block;
}
.success {
  color: rgb(14, 236, 40);
  margin-bottom: 5px;
  margin-left: 19px;
  font-size: 18px;
  display: block;
}

/*chart*/
.dash-chart {
  width: 60%;
  margin-left: 20px;
  padding: 20px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  border-radius: 5px;
}

/*Profile*/
.sign-box {
  width: 500px;
  margin: 0 auto;
  margin-top: 10%;
  padding: 10px 0 30px 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #ffffff;
  border-radius: 5px;
}

.sign-title {
  margin: 20px 0 40px 0;
  padding-left: 20px;
  color: #479ef3;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.sign-form {
  padding-left: 20px;
}

.conmon-req {
  width: 350px;
  margin-bottom: 25px;
  border-bottom: 2px solid #cfcfcf;
}

.conmon-req input {
  width: 300px;
  margin-right: 10px;
  padding: 10px;
  border: 0;
  font-size: 20px;
  outline: none;
}

.conmon-req textarea {
  width: 210px;
  margin-right: 10px;
  padding: 10px;
  border: 0;
  outline: none;
}

.conmon-req span {
  color: #fd6f6f;
}

.sign-box a {
  display: inline-block;
  margin-bottom: 30px;
  color: #000;
}

.sign-box a:hover {
  text-decoration: underline;
}

.pro-submit {
  padding: 10px 20px;
  border: 1px solid #88bef5;
  background-color: #ffffff;
  color: #88bef5;
  font-size: 20px;
  border-radius: 5px;
}

.pro-submit.signup {
  margin-left: 15px;
  padding-bottom: 13px;
  border: 1px solid #232323;
  background-color: #ffffff;
  color: #232323;
  font-family: 'Roboto', sans-serif;
}

.pro-submit.signup:hover {
  background-color: #232323;
  color: #ffffff;
  text-decoration: none;
}

.pro-submit:hover {
  background-color: #479ef3;
  color: #ffffff;
}
